
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: system-ui;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

*::selection{
    color: #95C11E;
    background-color: rgb(255, 255, 255);
}
body::-webkit-scrollbar{
    /* display: block; */
    width: 8px;
    background-color: #95C11E;
}
body::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}

.cursor{
    height: 30px;
    background-color: #95C11E;
    width: 30px;
    border-radius: 50%;
    position:fixed;
    z-index: 99;
}
.cursor-blur{
    background-color: #96c11e5c;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position:fixed;
    z-index: 9;
    filter: blur(60px);
    opacity: .7;

}


#nav{
    width: 100%;
    /* padding: 50px 0px; */
    position: fixed;
    z-index: 99;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav ul img{
    width: 80px;
}


#nav ul{
    display: flex;
    list-style: none;
    gap: 60px;
    align-items: center;
}

#nav ul li:hover{
    color: #cfee79;
    cursor: pointer;
}
#nav ul li img:hover{
    cursor: default;
}


.bgImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}


#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    z-index:10;
}

#page1 h1{
    font-size: 100px;
    position: relative;
}
#page1 h1::before{
    content:"EAT. DRINK. PLAY.";
    color: black;
    position: absolute;
    top: -7px;
    left: -5px;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}
#page1 h4{
    font-weight: 700;
    font-size: 37px;
}

#page1 p{
    font-size: 20px;
    width: 45%;
}

#page1 .arrow{
    position: absolute;
    left: -2%;
    bottom: 0%;
    height: 200px;
    width: 200px;
    border: solid 3px #a3d421;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all ease 0.5s;

}
#page1 .arrow i{
    font-size: 30px;
}
#page1 .arrow:hover{
    scale: 0.4;
    background-color: #95C11E;
}


#page2{

    min-height: 100vh;
    width: 100vw;
    z-index:10;
    position: relative;
    padding-bottom: 100px;


}
.scroller{
    display: flex;
    overflow-x: scroll;
    gap: 30px;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    
}
.scroller::-webkit-scrollbar{
    display: none;
}

.scroll-in h3{
    white-space: nowrap;
    font-size: 100px;
    color: transparent;
    font-weight: 900;
    -webkit-text-stroke:4px #95C11E;
    transition: all;
    transition-duration: 0.5s;


}

.scroll-in{
    display: flex;
    gap: 30px;
    animation: scroll 30s infinite linear;
    
}
.scroll-in h3:hover{
    color: #95C11E;
}


@keyframes scroll {
    from{
        transform: translateX(0%);
    } 
    to{
        transform: translateX(-100%);
    }
}


.about-us{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
    margin: 0px 50px;
    padding-bottom: 100px;

}
.about-us img{
    width: 250px;
    height: 250px;
    border-radius:20px;
}
.writtenPart{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.about-us h1{
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
}
.writtenPart .small{
    font-size: 20px;
    text-align: center;
}
.cardContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.card{
    height: 250px;
    width: 250px;
    border-radius: 15px;
    transition: all 0.7s;

    
}
.card .hidden{
    
    text-align: center;
    padding-top: 30px;
    background-color: #95C11E;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    opacity: 0;
    transition: all 0.7s;
    
    
}
.card:hover .hidden{
    opacity: 1;
    color: black;
}

.card .hidden h1,.card .hidden p{
    color: black;
}
.card1{
   background-image: url(images/card1.avif);
   background-size: cover; 
}

.card2{
    background-image: url(images/card2.webp); 
    background-size: cover; 
}

.card3{
    background-image: url(images/card3.avif); 
    background-size: cover; 
}

.card:hover .hidden{
    opacity: 1;
}
/* 
.card:hover{
    transform: rotate3d(1,1,0,20deg);
} */

.green-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #95C11E;
    height: 170px;
    overflow: hidden;
}

.green-div img{
    width: 300px;
}
.green-div h3{
    color: black;
    width: 550px;
    text-align: center;
    font-size: 30px;
}


.page3{
    position: relative;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    
}
.page3 h2{
    width: 65%;
    text-align: center;
    font-size: 40px;
}
.quote{
    width: 70px;
}
.leftQuote{
    position: relative;
    left: 25px;
    top: -145px;
}
.rightQuote{
    position: relative;
    top: 160px;
    right: 25px;
}

.page4{
    z-index: 10;
    position: relative;
    color: #95C11E;

    
}


.page4 h1{
    text-align: center;
    font-size: 85px;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;

    -webkit-text-stroke:2px white;
    color: transparent;
    position: relative;
    top: 40px;
    
}

.page4 .cards{
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-bottom: 50px;
     

}

.page4 .pageCard{
    height: 150px;
    width: 300px;
    /* border: solid 2px red; */
    border-radius: 20px;
    overflow: hidden;
    position: relative;

}
.page4 .pageCard h2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 800;
    font-size: 30px;
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    transition: all 0.3s;
    z-index: 10;

}

.page4 .pageCard img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s;
    scale: 1.1;
}

.pageCard:hover h2{
    background-color: transparent;
    color: white;
}
.pageCard:hover img{
    scale: 1;
}





.ending{
    /* height: 100px; */
    /* background-color: #95C11E; */
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    
    
}
.ending img{
    width: 300px;
    /* position: relative; */
}

.ending .write{
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

.ending .blackCol h2,.ending .blackCol h3{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.4;
}

.ending .write img{
    width: 150px;
}

